<library path="lib/libnav_base_nodelet">
    <class name="example/NavBaseNodelet" type="example::NavBaseNodelet" base_class_type="nodelet::Nodelet">
        <description>
            A nodelet for doing simple 2D waypoint navigation with differential drive ground platforms
        </description>
    </class>
</library>
